---
- name: Configure hostname
  hostname:
    name: "{{ inventory_hostname }}"

- name: Configure /etc/hosts
  become: yes
  lineinfile:
    path: /etc/hosts
    line: "{{ hostvars[item].ansible_host }} {{ item }}"
    state: present
  loop: "{{ groups['all'] }}"
  when: hostvars[item].ansible_host is defined