---
- name: Ensure the kubernetes dir exists
  file:
    path: "{{ k8s_dir }}"
    state: directory
    mode: '0755'

- name: Create kubeadm config file (only on master)
  vars:
    master_ip: "{{ hostvars[groups['master'][0]].ansible_host | default(groups['master'][0]) }}"
  copy:
    owner: root
    group: root
    mode: '0644'
    dest: "{{ k8s_dir }}/kubeadm-config.conf"
    content: |
      apiVersion: kubeadm.k8s.io/v1beta3
      kind: ClusterConfiguration
      kubernetesVersion: "{{ kube_version }}"
      networking:
        serviceSubnet: "{{ service_network_cidr | default('10.96.0.0/16') }}"
        podSubnet: "{{ pod_network_cidr | default('10.244.0.0/16') }}"
      controlPlaneEndpoint: "{{ master_ip }}:6443"
      apiServer:
        certSANs:
          - "{{ master_ip }}"
        extraArgs:
          advertise-address: "{{ master_ip }}"
      etcd:
        local:
          extraArgs:
            listen-peer-urls: "https://{{ master_ip }}:2380"
            listen-client-urls: "https://{{ master_ip }}:2379"
            advertise-client-urls: "https://{{ master_ip }}:2379"
            initial-advertise-peer-urls: "https://{{ master_ip }}:2380"
      ---
      apiVersion: kubeadm.k8s.io/v1beta3
      kind: InitConfiguration
      localAPIEndpoint:
        advertiseAddress: "{{ master_ip }}"
        bindPort: 6443
      nodeRegistration:
        criSocket: unix:///run/containerd/containerd.sock
  when: "'master' in group_names"

- name: Check if kubeadm is already initialized
  stat:
    path: /etc/kubernetes/admin.conf
  register: kubeadm_initialized

- name: Initialize Kubernetes cluster with kubeadm and save output to a file
  shell: kubeadm init --config /etc/kubernetes/kubeadm-config.conf | tee /tmp/kubeadm-init-output-{{ ansible_date_time.iso8601 | regex_replace("[^a-zA-Z0-9]", "-") }}.log
  register: kubeadm_init_output
  when: not kubeadm_initialized.stat.exists

- name: Get kubeadm join command
  command: kubeadm token create --print-join-command
  register: join_command

- name: Set kubeadm join command fact
  set_fact:
    kube_join_command: "{{ join_command.stdout }}"

- name: Configure kubeconfig
  ansible.builtin.shell: |
    mkdir -p $HOME/.kube
    cp /etc/kubernetes/admin.conf $HOME/.kube/config
    chown $(id -u):$(id -g) $HOME/.kube/config
  args:
    executable: /bin/bash

- name: Configure alias for kubectl if not already set
  ansible.builtin.lineinfile:
    path: /etc/bashrc
    line: "alias k='/bin/kubectl'"
    state: present
    